.booking__wrapper {
    width: 100%;
    height: calc(100vh - 72px);
    position: relative;
    .booking__back {
        width: 40px;
        height: 40px;
        border: 1px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
        border-radius: 50%;
        position: absolute;
        top: 2%;
        left: 1%;
        opacity: 0.2;
        transition: all 0.5s;
        img {
            width: 20px;
            height: 20px;
            margin: 9px;
        }
        &:hover {
            opacity: 1;
        }
    }
    .booking__containerDefault {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 875px;
        height: 650px;
        display: flex;
        border: 1px solid rgba(77, 80, 85, 0.1);
        border-radius: 8px;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
        padding: 20px 20px 20px 0;

        .booking__contentDefault {
            width: 45%;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: 1px solid #0707071a;
            .booking__img {
                width: 125px;
                height: 125px;
                margin: auto;
                img {
                    width: 100%;
                }
            }
            .booking__avata {
                position: relative;
                .booking__hr {
                    margin: 60px 0 30px 0;
                    color: #0707078c;
                }
                img {
                    box-shadow: 0px 0px 15px 1px rgba(150, 146, 146, 0.75);
                    width: 75px;
                    height: 75px;
                    position: absolute;
                    top: -50px;
                    left: -25px;
                    transform: translate(50px, 10px);
                    border: 1px solid #8080808c;
                    border-radius: 50%;
                }
            }
            .booking__text {
                margin: 30px;
                .booking__name {
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 50px;
                }
                .booking__result {
                    margin-bottom: 20px;
                }
                .booking__clock {
                    display: flex;
                    font-weight: 500;
                    line-height: 1.2;
                    img {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                        opacity: 0.8;
                    }
                }
                .booking__resultTime,
                .booking__resultDate {
                    display: flex;
                    font-weight: 500;
                    line-height: 1.2;
                    img {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                    }
                }
                .booking__resultTime {
                    margin-bottom: 10px;
                }
            }
        }
        .booking__form {
            width: 65%;
            padding-left: 30px;
            h2 {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 24px;
                line-height: 1.2;
            }
            form {
                max-width: 400px;
                .booking__formName,
                .booking__formEmail,
                .booking__formPhone,
                .booking__formMore {
                    .booking__label {
                        width: 100%;
                        .booking__spanName {
                            display: inline-block;
                            margin-bottom: 8px;
                            font-weight: bold;
                            font-size: 14px;
                        }
                        .booking__div {
                            .booking__input,
                            .booking__textarea {
                                display: block;
                                box-sizing: border-box;
                                width: 100%;
                                min-height: 46px;
                                padding: 10px 14px;
                                color: rgb(77, 80, 85);
                                font-size: 16px;
                                line-height: 1.5;
                                word-wrap: normal;
                                background: #ffffff;
                                border: 1px solid #d0d0d0;
                                border-radius: 8px;
                                -webkit-appearance: none;
                                appearance: none;
                            }
                            .booking__textarea {
                                resize: none;
                            }
                        }
                    }
                }
                .booking__formName,
                .booking__formEmail,
                .booking__formPhone {
                    margin-bottom: 20px;
                }
                .booking__formBtn {
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
        .booking__dateTimeDefault {
            width: 55%;
            padding-top: 28px;
            .booking__title {
                width: 100%;
                padding-right: 32px;
                padding-left: 32px;
                text-align: left;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: 700;
            }
            .booking__itemDefault {
                display: block;
                height: 90%;
                .booking__dateDefault {
                    width: 95%;
                    margin-left: 19px;
                    margin-right: 19px;
                    .react-calendar {
                        width: 100%;
                        border: none;
                        .react-calendar__navigation {
                            margin-bottom: 0;
                        }
                        .react-calendar__viewContainer {
                            .react-calendar__month-view {
                                .react-calendar__month-view__weekdays {
                                    justify-content: space-between;
                                    .react-calendar__month-view__weekdays__weekday {
                                        flex-basis: 13% !important;
                                        abbr {
                                            text-decoration: none !important;
                                        }
                                    }
                                }
                                .react-calendar__month-view__days {
                                    justify-content: space-between;
                                    gap: 5px;
                                }
                            }
                        }
                        .react-calendar__tile:disabled {
                            background-color: unset;
                            color: gray;
                            &:hover {
                                background-color: unset;
                            }
                        }
                        .react-calendar__tile {
                            flex-basis: 13% !important;
                            max-width: unset !important;
                            height: 52px;
                            background-color: rgba(0, 162, 255, 0.05);
                            border-radius: 50%;
                            color: rgb(0, 107, 255);
                            font-weight: 600;
                            abbr {
                                line-height: 1.9;
                            }
                            &:hover {
                                background-color: rgba(0, 107, 255, 0.15);
                            }
                        }

                        .react-calendar__tile--now {
                            background-color: rgba(0, 162, 255, 0.05);
                            abbr {
                                border-bottom: 2px solid;
                            }
                        }
                        .react-calendar__tile--active {
                            color: black;
                        }
                        .react-calendar__month-view__days__day--neighboringMonth {
                            visibility: hidden;
                        }
                    }
                }
                .booking__time {
                    width: 40%;
                    .booking__datePicker {
                        height: 38px;
                        margin-bottom: 10px;
                        font-family: 16px;
                        line-height: 42px;
                    }
                    .booking__showList {
                        padding-right: 10px;
                        height: 85%;
                        overflow: auto;
                        .booking__button {
                            display: block;
                            width: 100%;
                            height: 52px;
                            padding: 13px 10px;
                            .booking__span {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 1.5;
                            }
                            &:nth-child(even) {
                                margin: 10px 0;
                            }
                        }
                        .booking__buttonClick {
                            height: 52px;
                            padding: 13px 10px;
                            width: 48.5%;
                            color: white;
                            background-color: rgba(0, 0, 0, 0.6);
                            border-color: transparent;
                            .booking__span {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 0;
                            }
                            &:nth-child(odd) {
                                margin-bottom: 10px;
                            }
                            &:nth-child(even) {
                                margin-top: 10px;
                            }
                        }
                        .booking__confirm {
                            height: 52px;
                            padding: 13px 10px;
                            width: 48.5%;
                            margin-left: 3%;
                            background-color: rgb(0, 107, 255);
                            color: #ffffff;
                            .booking__confirmBtn {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 0;
                                text-transform: capitalize;
                            }
                            &:nth-child(even) {
                                margin-bottom: 10px;
                            }
                            &:nth-child(odd) {
                                margin-top: 10px;
                            }
                        }
                        &::-webkit-scrollbar {
                            width: 6px;
                            background-color: #f5f5f5;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }
    .booking__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1060px;
        height: 650px;
        display: flex;
        border: 1px solid rgba(77, 80, 85, 0.1);
        border-radius: 8px;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
        padding: 20px 20px 20px 0;
        .booking__content {
            width: 35%;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: 1px solid #0707071a;
            .booking__img {
                width: 100px;
                height: 100px;
                margin: auto;
                img {
                    width: 100%;
                }
            }
            .booking__avata {
                position: relative;
                .booking__hr {
                    margin: 60px 0 30px 0;
                    color: #0707078c;
                }
                img {
                    box-shadow: 0px 0px 15px 1px rgba(150, 146, 146, 0.75);
                    width: 75px;
                    height: 75px;
                    position: absolute;
                    top: -50px;
                    left: -25px;
                    transform: translate(50px, 10px);
                    border: 1px solid #8080808c;
                    border-radius: 50%;
                }
            }
            .booking__text {
                margin: 30px;
                .booking__name {
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 50px;
                }
                .booking__result {
                    margin-bottom: 20px;
                }
                .booking__clock {
                    display: flex;
                    font-weight: 500;
                    line-height: 1.2;
                    img {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                        opacity: 0.8;
                    }
                }
            }
        }
        .booking__dateTime {
            width: 65%;
            padding-top: 28px;
            .booking__title {
                width: 100%;
                padding-right: 32px;
                padding-left: 32px;
                text-align: left;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: 700;
            }
            .booking__item {
                display: flex;
                height: 90%;
                .booking__date {
                    width: 60%;
                    margin-left: 19px;
                    margin-right: 19px;
                    .react-calendar {
                        width: 100%;
                        border: none;
                        .react-calendar__navigation {
                            margin-bottom: 0;
                        }
                        .react-calendar__viewContainer {
                            .react-calendar__month-view {
                                .react-calendar__month-view__weekdays {
                                    justify-content: space-between;
                                    .react-calendar__month-view__weekdays__weekday {
                                        flex-basis: 13% !important;
                                        abbr {
                                            text-decoration: none !important;
                                        }
                                    }
                                }
                                .react-calendar__month-view__days {
                                    justify-content: space-between;
                                    gap: 5px;
                                }
                            }
                        }
                        .react-calendar__tile:disabled {
                            background-color: unset;
                            color: gray;
                            &:hover {
                                background-color: unset;
                            }
                        }
                        .react-calendar__tile {
                            flex-basis: 13% !important;
                            max-width: unset !important;
                            height: 49px;
                            background-color: rgba(0, 162, 255, 0.05);
                            border-radius: 50%;
                            color: rgb(0, 107, 255);
                            font-weight: 600;
                            abbr {
                                line-height: 1.8;
                            }
                            &:hover {
                                background-color: rgba(0, 107, 255, 0.15);
                            }
                        }
                        .react-calendar__tile--now {
                            background-color: rgba(0, 162, 255, 0.05);
                            abbr {
                                border-bottom: 2px solid;
                            }
                        }
                        .react-calendar__tile--active {
                            color: #ffffff;
                            background-color: rgb(0, 107, 255);
                            &:hover {
                                background-color: rgb(0, 107, 255);
                            }
                        }
                        .react-calendar__month-view__days__day--neighboringMonth {
                            visibility: hidden;
                        }
                    }
                }
                .booking__time {
                    width: 40%;
                    .booking__datePicker {
                        height: 38px;
                        margin-bottom: 10px;
                        font-family: 16px;
                        line-height: 42px;
                    }
                    .booking__showList {
                        padding-right: 10px;
                        height: 85%;
                        overflow: auto;
                        .booking__button {
                            display: block;
                            width: 100%;
                            height: 52px;
                            padding: 13px 10px;
                            .booking__span {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 1.5;
                            }
                            &:nth-child(even) {
                                margin: 10px 0;
                            }
                        }
                        .booking__buttonClick {
                            height: 52px;
                            padding: 13px 10px;
                            width: 48.5%;
                            color: white;
                            background-color: rgba(0, 0, 0, 0.6);
                            border-color: transparent;
                            .booking__span {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 0;
                            }
                            &:nth-child(odd) {
                                margin-bottom: 10px;
                            }
                            &:nth-child(even) {
                                margin-top: 10px;
                            }
                        }
                        .booking__confirm {
                            height: 52px;
                            padding: 13px 10px;
                            width: 48.5%;
                            margin-left: 3%;
                            background-color: rgb(0, 107, 255);
                            color: #ffffff;
                            .booking__confirmBtn {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 0;
                                text-transform: capitalize;
                            }
                            &:nth-child(even) {
                                margin-bottom: 10px;
                            }
                            &:nth-child(odd) {
                                margin-top: 10px;
                            }
                        }
                        &::-webkit-scrollbar {
                            width: 6px;
                            background-color: #f5f5f5;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }
}
