.spanTest {
    background-color: red;
    margin: 20px;
}
.fcrYGG {
    background-image: url(https://e7.pngegg.com/pngimages/552/168/png-clipart-clock-partition-wall-white-clock-angle-kitchen.png);
}
.zyuFN {
    background-color: transparent !important;
}
.icBoRX {
    width: 40% !important;
}
